<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img width="150" src="assets/logo.jpg" alt=""></a>
      <div>
          <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Service</a></li>
              <li><a href="">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>
<div class="container-fld">
  <div class="banner">
      <h1 class="text-center"> Angular Assignment</h1>
  </div>
</div>
