<app-header></app-header>
<div class="container-fluid m-2">


    <button style="border-right: 0px;" class="btn not-active" routerLinkActive="active" routerLink="/employees">Employee List</button>
    <button class="btn not-active" routerLinkActive="active" *ngIf="!isUpdate" routerLink="/add">Add New Employee</button>
    <span class="btn not-active" *ngIf="isUpdate" routerLinkActive="active" routerLink="/edit">Update Employee</span>

</div>




<router-outlet></router-outlet>

<app-footer></app-footer>

